@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(to left, #554971, #63768d);
}

::placeholder {
  color: #aaa;
}

.container {
  padding: 3rem;
  background-color: #fefefe;
  border-radius: 1rem;
}

.container h1 {
  text-align: center;
  color: #36213e;
  margin-bottom: 2rem;
}

.form-item {
  margin: 1rem 0;
}

.form-item input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #8ac6d0;
  border-radius: 0.5rem;
  color: #36213e;
}

.form-item input:focus,
.form-item textarea:focus {
  border: 1px solid #7c6ba5;
}

.form-item textarea {
  padding: 0.5rem 1rem;
  border: 1px solid #8ac6d0;
  border-radius: 0.5rem;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

.submit-btn button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  background-color: #554971;
  border: 1px solid #554971;
  color: #fff;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

.submit-btn button:hover {
  background-color: #63768d;
  border: 1px solid #333;
  cursor: pointer;
}

.error {
  color: #b92222;
  font-size: 0.9rem;
}

.error-main {
  color: #b41515;
  font-size: 1.1rem;
}
